 /*****************
	FONT FACE GENERATOR
 ************/
@font-face {font-family: 'HelveticaNeueBoldCond'; src: url('../fonts/HelveticaNeueBoldCond.eot'); src: url('../fonts/HelveticaNeueBoldCond.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueBoldCond.woff2') format('woff2'), url('../fonts/HelveticaNeueBoldCond.woff') format('woff'), url('../fonts/HelveticaNeueBoldCond.ttf') format('truetype'), url('../fonts/HelveticaNeueBoldCond.svg#HelveticaNeueBoldCond') format('svg'); }

@font-face {font-family: 'UniversLTStd57Cn'; src: url('../fonts/UniversLTStdCn_0.eot'); src: url('../fonts/UniversLTStdCn_0.eot') format('embedded-opentype'), url('../fonts/UniversLTStdCn_0.woff2') format('woff2'), url('../fonts/UniversLTStdCn_0.woff') format('woff'), url('../fonts/UniversLTStdCn_0.ttf') format('truetype'), url('../fonts/UniversLTStdCn_0.svg#UniversLTStdCn_0') format('svg'); }

@font-face {font-family: 'HelveticaNeueLTStdBlkCn'; src: url('../fonts/HelveticaNeueLTStdBlkCn_4.eot'); src: url('../fonts/HelveticaNeueLTStdBlkCn_4.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStdBlkCn_4.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStdBlkCn_4.woff') format('woff'), url('../fonts/HelveticaNeueLTStdBlkCn_4.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStdBlkCn_4.svg#HelveticaNeueLTStdBlkCn_4') format('svg'); }

@font-face {font-family: 'HelveticaNeueLTStdLtCn'; src: url('../fonts/HelveticaNeueLTStdLtCn_4.eot'); src: url('../fonts/HelveticaNeueLTStdLtCn_4.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStdLtCn_4.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStdLtCn_4.woff') format('woff'), url('../fonts/HelveticaNeueLTStdLtCn_4.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStdLtCn_4.svg#HelveticaNeueLTStdLtCn_4') format('svg'); }

 /*****************
	GENERAL STYLES
 ************/
 body{font-family: 'UniversLTStd57Cn'; background: url(../images/fondo_home.png) no-repeat bottom center #fff; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; }

 .pymeswrapper{background: url(../images/davivienda-fondo-pymes.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

 h1,.boldcn{font-family: 'HelveticaNeueBoldCond';}
 .light{font-family: 'HelveticaNeueLTStdLtCn';}
 .tsboldcn{font-family: 'HelveticaNeueLTStdBlkCn';}
 a,a:hover{text-decoration: none;outline: none;}
 ul,ol{list-style: none;padding: 0;margin: 0;}
 .title-black{font-family: 'HelveticaNeueBoldCond';}
 #logo{max-width: 235px;width: 100%;}
 header{background: #E32029; padding: 18px 0; position: fixed; z-index: 3; width: 100%; top: 0; left: 0; height: auto;}
/**********
CONTACT FORM
*********/
.wrapper{margin: 0 auto;background: url(../images/fondo_video.png) bottom center no-repeat;background-size: 100%;padding-bottom: 100px;padding-top: 60px;}

#login{background: #E6E6E6;margin:0 auto;width: 100%;border-radius: 11px;border-top: 25px solid #E32029;padding: 20px 0 35px 0;}
#login form{padding: 20px 30px 10px 30px;}
#login label.com{color: #5F5F5F; font-size: 14px; margin: 0 0 4px 12px; overflow: hidden; width: 100%;}
#login label.com > span.tooltipdata{display: inline-block; width: 20px; height: 20px; border-radius: 200px; margin: 0 0 0 4px; vertical-align: middle; background: #ed1c27; cursor: pointer; border: 2px solid #ed1c27; text-align: center; line-height: 15px; font-size: 13px;color: #fff; }

#login label.com > span.tooltipdata:hover{border: 2px solid #ed1c27;color: #fff;}
.bs-tooltip-bottom .arrow::before{border-width: 0 .6rem .6rem;}
.tooltip-inner{max-width: 280px;border-radius: 13px;}
.bs-tooltip-bottom{margin: 10px 0 0 0;}
.tooltip-inner p{margin: 0; font-size: 13px; padding: 10px 6px; line-height: 15px; text-align: left;}
#login select{-webkit-appearance:none; -moz-appearance:none; appearance:none; background: url(../images/arrow-select.svg) no-repeat 94% center #D1D1D1 !important;cursor: pointer; background-size: 16px !important;}

#login select:focus,#login select.active{background: url(../images/arrow-select.svg) no-repeat 94% center #D1D1D1 !important;background-size: 16px !important;}

#login input[type="text"],#login input[type="password"],#login select{max-width: 100%; width: 100%; padding: 11px 20px; margin: 0 0 16px 0; border-radius: 25px;display: block; font-size: 14px; color: #22262A; font-style: normal; border: none; transition: all 0.2s;min-height: 35px;background: #D1D1D1;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #22262A; font-size: 14px; opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #22262A; font-size: 14px; opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #22262A; font-size: 14px; opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #22262A; font-size: 14px; opacity: 1;
}
#login input[type="text"]:focus,#login input[type="password"]:focus,#login select:focus,#login select.active,#login input[type="text"].active,#login input[type="password"].active{border: 1px solid #ff0000;}

.center{text-align: center;}
#login button[type="button"]{display: inline-block; background: #ed1c27; color: #fff; font-size: 14px; text-align: center; border-radius: 15px; padding: 9px 10px; border: none;  width: 100%; margin: 0 0 10px 0;cursor: pointer;border-bottom: 5px solid #970309;}

#login button[type="button"].disabled{background: #838383;border-bottom: 5px solid #303030;}

#login form a{width: 100%;display: inline-block;text-decoration: underline;font-size: 14px;color: #848484;margin: 0 0 10px 0;}

#login h3{color: #000;margin: 30px 0;font-size: 18px;text-align: center;}
#login h4{font-size: 15px;color: #5F5F5F;text-align: center;margin: 20px 0;}
#login label.com img{float:right;width: 15px;display: none}

footer{background: #000;position: relative;padding: 9px 0;left: 0;bottom:0;width:100%;z-index: 1;}
footer .arrow{position: absolute; display: block; background: url(../images/flecha_footer.png) top center; width: 40px; height: 20px; left: 50%; top: -17px; border-radius: 200px;}
footer ul li{display: inline-block;vertical-align: middle;font-size: 11px;color: #fff;}
footer ul li:first-child{max-width: 100px;width: 100%;margin: 0 8% 0 10%;}
footer .logo{text-align: right;}
footer .logo img{max-width: 140px;width: 100%;margin: 0 10% 0 0;}
.main{min-height:100%; position:relative; }

/*Set modal content*/
.modal-backdrop.show {opacity: .75; }
.modal-header .close{margin: 0; background: transparent; opacity: 1; padding: 0; height: auto;color: #4E4E4E !important; width: 30px; height: 30px; border-radius: 200px;display: inline-block;font-size: 25px;line-height: 24px;text-align: center;float: none; border: 1px solid #707070;font-weight: 100; }
.modal-header{padding: 10px 10px 0 10px;text-align: right;display: block;border-bottom: none;}
.modal-body h3{font-size: 22px;color: #6F6F6F;font-weight: normal;}
.modal-body label{color: #5F5F5F; font-size: 14px; margin: 0 0 4px 12px; overflow: hidden; width: 100%; display: block; text-align: left;}
.modal-body input[type="password"]{max-width: 100%; width: 100%; padding: 11px 20px; margin: 0 0 16px 0; border-radius: 25px; display: block; font-size: 14px; color: #22262A; font-style: normal; border: none; transition: all 0.2s; min-height: 35px; background: #D1D1D1; }

.modal-body p{font-size: 16px;color: #6F6F6F;line-height: 1.2em;margin: 0;}
.modal-body a{display: inline-block; background: #ed1c27; color: #fff; font-size: 14px; text-align: center; border-radius: 15px; padding: 7px 10px; border: none; border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; max-width: 40%; width: 100%; margin: 0; cursor: pointer; border-bottom: 5px solid #970309;}
.modal-body{padding: 0 30px 20px 30px;text-align: center;}

#login .twobuton button{width: 100%;max-width: 100%;}

.hiperlink{text-align: center;margin: 20px 0;}
.hiperlink a{color: #fff; font-size: 16px; text-decoration: underline; text-shadow: 0px 0px 17px #000;}

.leftpanel,.rightpanel{display: inline-block;*vertical-align: middle;vertical-align: top;}
.rightpanel .key{padding: 20px; background: #fff; max-width: 100%; width: 100%; border-radius: 12px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); margin: 0 0 30px 0; }
.key .select{display: block;color: #848484;font-size: 16px;background: url(../images/downselectgray.jpg) no-repeat right center;}
.key .select.collapsed{background: url(../images/downselectgrayup.jpg) no-repeat right center;}
.key ul{list-style: none;padding: 0;margin: 0;}
.key ul li a{font-size: 16px;color: #848484; display: block;padding: 0 0 0 34px;}
.key ul li:last-child{margin-bottom: none;}
.key ul li{margin-top: 8px;margin-bottom: 8px;}

.key ul li:nth-child(1) a{background: url(../images/activar-token.svg) no-repeat left center;background-size: 21px;}
.key ul li:nth-child(2) a{background: url(../images/asignar-clave.svg) no-repeat left center;background-size: 21px;}
.key ul li:nth-child(3) a{background: url(../images/pregunta.svg) no-repeat left center;background-size: 21px;}
.key ul li:nth-child(4) a{background: url(../images/cambiar-clave.svg) no-repeat left center;background-size: 21px;}
.key ul li:nth-child(5) a{background: url(../images/cambiar-clave-olvido.svg) no-repeat left center;background-size: 21px;}
.rightpanel button{background: #000;color: #fff;text-align: center;border: 1px solid #fff;padding: 10px;font-size: 16px;width: 100%;border-radius: 7px;outline: none;cursor: pointer;line-height: 18px;}

.leftpanel{margin-left: 33.333333%;max-width: 33.333333%;-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;padding-right: 15px; padding-left: 15px;}
.rightpanel{-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;padding-right: 15px; padding-left: 15px;}
.iconalert{margin: 0 auto 20px auto; max-width: 100px; width: 100%;}
.iconalert img{max-width: 100%;width: 100%;}

#terms p{text-align: left; font-size: 15px;line-height: 18px;}
#terms ul{list-style: disc; padding: 0 20px; text-align: left; line-height: 18px;}
#terms ul li{margin: 10px 0;font-size: 15px;}
#login.modalog{box-shadow: none;}
#login.modalog input{margin: 17px auto;}
.key a.notwork{background: none;color: #848484 !important;}

/****************START NEW STYLES****************/
#banner{background-image: url("../images/banner-header.png"); background-attachment: fixed; background-position: center top; background-repeat: no-repeat; background-size: 100%; overflow: hidden;}
#banner h1{text-align: center; color: #fff; font-size: 36px; text-transform: uppercase; padding: 10% 0 4% 0; margin: 0;}
#banner h1 img{display: block;*display: inline;max-width: 45px;width: 100%;margin: 0 auto;}
.btn-zone{text-align: center;}
.btn-red-icon,.btn-red-icon:hover{display: inline-block; background: url('../images/icono-advertencia.svg') #ed1c27 no-repeat 15px center; color: #fff;text-align: center; border-radius: 8px;padding: 15px 30px 15px 60px; border: none; margin: 20px 0; cursor: pointer;font-size: 14px;background-size: 28px;}

.control.control-radio {display: block; position: relative; padding-left: 28px; margin-bottom: 5px; padding-top: 3px; cursor: pointer; font-size: 14px; color: #5F5F5F; }
.control.control-radio input {position: absolute; z-index: -1; opacity: 0; }
.control.control-radio .control_indicator {position: absolute; top: 2px; left: 0; height: 20px; width: 20px; background: #fff; border: 2px solid #5F5F5F; } .control.control-radio .control_indicator {border-radius: 50%; } .control.control-radio:hover input ~ .control_indicator, .control.control-radio input:focus ~ .control_indicator {background: #cccccc; } .control.control-radio input:checked ~ .control_indicator {background: #5F5F5F; } .control.control-radio:hover input:not([disabled]):checked ~ .control_indicator, .control.control-radio input:checked:focus ~ .control_indicator {background: #0e6647d; } .control.control-radio input:disabled ~ .control_indicator {background: #e6e6e6; opacity: 35; pointer-events: none; } .control.control-radio .control_indicator:after {box-sizing: unset; content: ''; position: absolute; display: none; } .control.control-radio input:checked ~ .control_indicator:after {display: block; } .control.control-radio .control_indicator:after {left: 4px; top: 4px; height: 8px; width: 8px; border-radius: 50%; background: #ffffff; } .control.control-radio input:disabled ~ .control_indicator:after {background: #7b7b7b; }

/*checkbox*/
.control.control-checkbox {display: block; position: relative; padding-left: 30px; margin-bottom: 5px; cursor: pointer; font-size: 14px; color: #5F5F5F; }
.control.control-checkbox input {position: absolute; z-index: -1; opacity: 0; }
.control.control-checkbox .control_indicator {position: absolute; top: 2px; left: 150px; height: 20px; width: 20px; background: #fff; border: 2px solid #5F5F5F; }
.control.control-checkbox .control_indicator {border-radius: undefined%; }
.control.control-checkbox:hover input ~ .control_indicator, .control.control-checkbox input:focus ~ .control_indicator {background: #fff; border: 2px solid #5F5F5F; }
.control.control-checkbox input:checked ~ .control_indicator {background: #707070; } .control.control-checkbox:hover input:not([disabled]):checked ~ .control_indicator,
.control.control-checkbox input:checked:focus ~ .control_indicator {background: #0e6647d; } .control.control-checkbox input:disabled ~ .control_indicator {background: #e6e6e6; opacity: 35; pointer-events: none; }
.control.control-checkbox .control_indicator:after {box-sizing: unset; content: ''; position: absolute; display: none; } .control.control-checkbox input:checked ~ .control_indicator:after {display: block; }
.control.control-checkbox .control_indicator:after {left: 0; top: 0; width: 100%; height: 16px; background: url(../images/check-activo.png) no-repeat center center; } .control.control-checkbox input:disabled ~
.control_indicator:after {border-color: #7b7b7b; } .checkbox-box{margin: 5px 0 20px 0;}

.mycheckbox input[type="checkbox"] {
  display: none;
}
.mycheckbox input[type="checkbox"]+label {
  background: url('../images/checkbox-off.png') no-repeat;
  width:50px;
  height: 25px;
	text-align: end;
}
.mycheckbox input[type="checkbox"]:checked + label {
  background: url('../images/checkbox-on.png')no-repeat;
  width: 50px;
  height: 25px;
	text-align: end;
}

.myradiobutton input[type="radio"] {
  display: none;
}
.myradiobutton input[type="radio"]+label {
  background: url('../images/checkbox-off.png') no-repeat;
  width:50px;
  height: 25px;
	text-align: end;
}
.myradiobutton input[type="radio"]:checked + label {
  background: url('../images/checkbox-on.png')no-repeat;
  width: 50px;
  height: 25px;
	text-align: end;
}
.con-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
		color:#5F5F5F;
}

/* Hide the browser's default radio button */
.con-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: url('../images/checkbox-off.png') no-repeat;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.con-radio:hover input ~ .checkmark {
    background: url('../images/checkbox-off.png') no-repeat;
}

/* When the radio button is checked, add a blue background */
.con-radio input:checked ~ .checkmark {
    background: url('../images/checkbox-on.png')no-repeat;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.con-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.con-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.sub-box{border: solid 1px #c9cacc; font-size: 14px;color:#5f5f5f;font-weight: lighter;padding-top: 20px;padding-bottom: 10px;}
.bold-font{font-weight: bold;}



#calltoaction{text-align: right;padding: 40px;}        
#calltoaction li{display: inline-block;*display: inline;vertical-align: middle;}
#calltoaction li h5{color: #303030;font-size: 22px;font-weight: normal;background: url(../images/leitmotiv.svg) no-repeat right center;margin: 0 10px 0 0; padding: 0 40px 0 0; background-size: 20px;}
#calltoaction li h5 span{display: block;font-size: 19px;}
#calltoaction li img{max-width: 64px;width: 100%;}
#login .ttleft{text-align: left;margin: 20px 0 20px 12px;}

#captcha{max-width: 320px;width: 100%;margin: 35px auto;}
#captcha img{max-width: 100%;width: 100%;}
.withoutpad{padding-top: 10px;}

.chatmobile{max-width: 54px; width: 100%; float: right; margin: 0 21% 12px 0;display: none;}
.chatmobile img{max-width: 100%;width: 100%;}

/****************END NEW STYLES****************/


/****************MEDIQUERIES****************/

@media screen and (max-width: 990px){
	footer ul li:first-child{margin: 0 4% 0 0;}
	footer .logo img{margin: 0;}
	.wrapper h1{font-size: 30px;}
	.wrapper p{font-size: 14px;}
	footer ul li{font-size: 10px;}
	.rule p br{display: none;}

	/*set columns*/
	.leftpanel{margin-left: 10%;max-width: 50%;-ms-flex: 0 0 50%;flex: 0 0 50%;}
	.rightpanel{-ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%;}	
}

@media screen and (max-width: 767px){
	footer{position: relative;}
	#logo{margin: 0 auto;}
	footer ul li{font-size: 9px;}
	.leftpanel{margin-left: 0;max-width: 60%;-ms-flex: 0 0 60%;flex: 0 0 60%;}
	.rightpanel{-ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%;}	
	.rightpanel .key{padding: 15px;}	
	#banner{background-size: 767px auto;}
	#banner h1{font-size: 35px;padding: 74px 0 10px 0;}
	#login button[type="button"]{max-width: 100%;}
	#calltoaction{padding: 40px 20px;}
	#login{padding: 0 20px 30px 20px;}
	.checkbox-box{margin-left: 10px;text-align: left;}
	.checkbox-box label{display: inline-block !important;}
	.modal-body a{max-width: 90%;}
}

@media screen and (max-width: 578px){
	footer ul li:first-child,footer .logo,#calltoaction{display: none;}
	.chatmobile{display: block;}
	footer{text-align: center;}
	.wrapper h1 {font-size: 25px;}
    #login label,.key .select,.key ul li a,.rightpanel button{font-size: 14px;}
    #login h3{font-size: 16px;}
    .wrapper{margin: 10px auto 50px auto;padding-top: 20px;}
	.leftpanel{margin-left: 0%;max-width: 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;}
	.rightpanel{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 343px;width: 100%;margin: 30px auto 0 auto;}	
	.iconalert{max-width: 70px;}
	.checkbox-mobile{width: auto !important;margin: 0 0 4px 12px;}
	#login label.com {margin: 0 0 4px 6px;font-size: 13px;}
	#login label.com > span.tooltipdata {font-weight: lighter !important;font-size: 12px;width: 17px;height: 17px;}
	#login h4{font-size: 14px}
	#login button[type="button"] {max-width: 70%;}
	.mobile-margin{margin-left: 25px;}
}
@media screen and (max-width: 420px){.check-mobile{display: none}#login label.com img{float:right;width: 9px;display: block;right: 10px;
position: absolute;
top: 5px;}
#login label.com {margin: 0 0 4px 6px;font-size: 12px;width: 90%;}
.mobile-label{margin-left: 15px !important }
}